{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "unused-imports"],
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "rules": {
    "unused-imports/no-unused-imports-ts": "error",
    "no-constant-condition": "off",
    "no-case-declarations": "off",
    "curly": "error",
    "@typescript-eslint/ban-ts-comment": "off"
  }
}
